[Unit]
Description=Voice API Service
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/opt/cloudops-incident-lab/app/api-service
ExecStart=/usr/bin/python3 /opt/cloudops-incident-lab/app/api-service/app.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
