[Unit]
Description=Voice API Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/cloudops-incident-lab
ExecStart=/opt/cloudops-incident-lab/.venv/bin/python /opt/cloudops-incident-lab/app/api-service/app.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
